@tailwind base;
@tailwind components;
@tailwind utilities;

:root{  
    scroll-behavior: smooth;
    background-color: rgb(10 10 10);
    margin: 0;
    padding: 0;
}

@keyframes wave{
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}
.wave{
    display: inline-block;
    animation: wave 2s infinite;
}
/* pattern.css */
.pattern-boxes {
  position: relative;
  background-color: rgb(10, 10, 10);
  background-image: linear-gradient(to right, rgba(90, 0, 0, 0.384) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(92, 0, 0, 0.185) 1px, transparent 1px);
                    /* size of the box */
  background-size: 50px 50px; 
  /* shape of the mask */
  -webkit-mask-image: radial-gradient(ellipse, black 30%, transparent 50%);
  mask-image: radial-gradient(ellipse black 100%, transparent 31%);
}
.content {
  position: relative;
  z-index: 1;
  padding: 2rem;
}
@media screen and (max-width: 760px) {
  .pattern-boxes {
    position: relative;
    background-color: rgb(10, 10, 10);
    background-image: linear-gradient(to right, rgba(90, 0, 0, 0.384) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(92, 0, 0, 0.185) 1px, transparent 1px);
                      /* size of the box */
    background-size: 50px 50px; 
    /* shape of the mask */
    -webkit-mask-image: radial-gradient(circle, black 100%, transparent 50%);
    mask-image: radial-gradient(circle black 100%, transparent 31%);
  }
}

